<p id="notice"><%= notice %></p>
<h2><%=  @coin.description %></h2>
<form> 
<fildset disable>
 <div class="form-group mb-2">
    <%= label_tag nil,  @coin.class.human_attribute_name(:description) %>
    <%= text_field_tag nil,  @coin.description, class:"form-control", disabled: true %>
  </div>

  <div class="form-group mb-2">
    <%= label_tag nil, @coin.class.human_attribute_name(:acronym) %>
    <%= text_field_tag nil,  @coin.acronym, class:"form-control", disabled: true  %>
  </div>

  <div class="form-group mb-2">
    <%= label_tag nil, @coin.class.human_attribute_name(:url_image) %>
    <%= text_field_tag nil,  @coin.url_image, class:"form-control", placeholder:"Disabled input", disabled: true %>
      
  </div>

    <div class="form-group mb-2">
    <%= label_tag nil, @coin.class.human_attribute_name(:mining_types) %>
    <%= text_field_tag nil, @coin.mining_type.description, class:"form-control", disabled: true %>
       
  </div>

  </fildset>



</form> 
<%= link_to t('edit'), edit_coin_path(@coin), class:"btn btn-primary" %> |
<%= link_to t('back'), coins_path, class:"btn btn-primary" %>
