
<p> <%= t("The language used")%>
 <%= t("USA")%> </p>
<div class="jumbotron">
  <h1 class="display-4"><%= t("welcome") %></h1>
  <p class="lead"><%= t("this is cripto")%></p>
  <hr class="my-4">
  <p><%= t("action") %></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/coins" role="button"> <%=t("Currency Registration") %></a>
     <a class="btn btn-primary btn-lg" href="/mining_types" role="button"> <%= t("Mining Registration")%></a>
  </p>
</div>
</p>


</p>



