<h1><%= t("welcome") %></h1>
<p> <%= link_to 'Português', root_path(locale: 'pt-BR')%>
</p>

<p> <%= link_to 'English', root_path(locale: 'en')%>
</p>
<p> O indioma utilizado é <%= t("USA")%> </p>
<p><%= I18n.t('hello')%></p>
<ul>
 <li>
 <%= link_to t("Currency Registration"), "/coins" %>
 </li>
 <li>
 <%= link_to t("Mining Registration"), mining_types_path %>
 </li>
 </ul>
